<section class="contacts">
  <table>
    <thead>
      <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Actions</th>
    </thead>
    <tbody>
      <% @contacts.each do |contact| %>
        <tr>
          <td><%= contact.id %></td>
          <td><%= contact.first_name %></td>
          <td><%= contact.last_name %></td>
          <td><%= contact.phone %></td>
          <td><%= contact.email %></td>
          <td>
            <a href="/contacts/<%= contact.id %>/edit">EDIT</a>
            <form action="/contacts/<%= contact.id %>/delete" method="POST">
              <input type="submit" value="Delete">
            </form>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</section>
<a href="/contacts/new">Create Contact</a>